* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font: 1em sans-serif;
  margin-top: 0px;
}

header {
  background-color: rgb(74, 107, 165, 0.8);
  border: 10px solid rgb(28, 14, 107);
  padding: 45px 0px 0px 0px;
  color: rgb(28, 14, 107);
  position: sticky;
  top: 0;
}
#sbar {
  list-style-type: none;
  width: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(28, 14, 107);
  width: auto;
}

#slnk {
  float: left;
}

#slnk a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#slnk a:hover:not(.active) {
  background-color: rgb(74, 107, 165, 1);
}
.active {
  background-color: rgb(74, 107, 165, 1);
}

main {
  background-color: rgb(9, 39, 91, 0.2);
}

.my_heading {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(28, 14, 107);
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul.b {
  list-style-type: square;
  text-align: left;
  margin-left: 30px;
}

div {
  border: 10px solid rgb(28, 14, 107);
  padding: 20px;
  font-size: larger;
}

p {
  text-align: left;
}

#smalltext {
  font-size: small;
}

.task {
  font-weight: bold;
}

#outcome {
  list-style-type: none;
  overflow: hidden;
  background-color: rgb(28, 14, 107);
  width: auto;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#olnk {
  float: left;
  width: 33.33%;
}

#olnk a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 26px;
  text-decoration: none;
}

#olnk a:hover:not(.active) {
  background-color: rgb(74, 107, 165, 1);
}

footer {
  background-color: rgb(74, 107, 165, 0.8);
  border: 10px solid rgb(28, 14, 107);
  color: rgb(28, 14, 107);
  position: relative;
  top: 0;
}

input[type="submit"]:hover {
  background-color: rgb(74, 107, 165, 1);
}

input[type="submit"] {
  background-color: rgb(28, 14, 107);
  color: white;
  padding: 12px 50px;
  border: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

#specialdiv {
  border: 0px solid rgb(9, 39, 91, 0.2);
  padding: 0px;
  font-size: medium;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(255, 255, 255);
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}
